*.aps
ipo*.obj
/Debug
/[Rr]elease
*.ncb
*.pdb
*.deps
*.sdf
ipch
ProfilerProject*
My Advisor Results*
*.opensdf
*.cfg
*.user
*.bak
*.suo
*.pcm
*.pb.cc
*.pb.h
*.cmake
My Inspector*Results*/
My Amplifier*Results*/
GeneratedFiles
*.log
*.sgp
output
output_64
.vs
.temp_vs/
*.filters
*.user
*.vcxproj
*.sln
*.recipe
*.ilk
*.obj
*.tlog
*.lastbuildstate
*.idb
*.iobj
*.ipdb
*.txt
*.exe
*.bin





